@import url(styles.css);

.header-info {
    background: var(--segundo);
    text-align: right;
    overflow: hidden;
}

.header-info p {
    font-weight: 600;
    padding: 5px 25px 5px 0;
    white-space: nowrap;
    animation: moveText 20s linear infinite;
}

.container-navbar {
    background: var(--segundo);
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 1.2rem;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 60px;
    margin-right: 20px;
}

.navbar-logo span {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--negro);
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav>* {
    margin-left: 40px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-link {
    margin-left: 40px;
    font-size: 1.1rem;
    font-weight: 600;
}

.nav-link a {
    color: var(--negro);
    position: relative;
}

.nav-link a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--negro);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.nav-link:hover a::after{
    opacity: 1;
}

.search-icon img{
    width: 28px;
}

@keyframes moveText {
    0%{
        transform: translateX(100%)
    }
    100%{
        transform: translateX(-100%)
    }
}