:root {
    --primario: #4B96E2;
    --segundo: #73ADE8;
    --tercero: #C2DBF5;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    font-size: 16px;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

header {
    background: var(--primario);
    padding: 2rem;
}

footer {
    background: var(--segundo);
    padding: 2rem;
}

.main-content {
    flex: 1;
    background-color: var(--blanco);
    padding: 2rem;
}

.main-content h3 {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.w100 {
    font-weight: 100;
}

.w200 {
    font-weight: 200;
}

.w300 {
    font-weight: 300;
}

.w600 {
    font-weight: 600;
}

.w900 {
    font-weight: 900;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 14px;
    }

    .main-content {
        width: 90%;
        margin: 0 auto;
        padding: 1.5rem;
    }

    .main-content h3 {
        margin-bottom: 1rem;
    }
}